html,
body {

  background-color: #EBD6CB;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #57301a;
  font-family: 'Gochi Hand', cursive;
}

.navbar-brand{
  text-align: center;
}
p{
  font-size: 25px;
}

.card {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
  background-color:#F4CA83 !important;
  border: black;
  text-align: center;
  opacity: 0.8;
}
.display-3{
  text-align: center;
}
.bg-dark {
  background-color: pink;
  border:  #EBD6CB;
}
.btn-link{
  color:  #EBD6CB;
}

.text-center {
background-color: #57301a;
background-size: 750px 1600px;

  background-repeat: no-repeat;

  color: #EBD6CB;
}
.logo{
  background-image: url("./logoBurger.png");
  background-size: 150px, 50px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
}

.list-container .card {
height: 100%; 
 border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
}

.list-container {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 5px;
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}